{{template "base/head" .}}
<div class="home">
    <div class="ui stackable middle very relaxed page grid">
        <div class="sixteen wide center aligned centered column">
            <div>
                <img class="logo" src="{{AppSubUrl}}/img/gitea-lg.png" />
            </div>
            <div class="hero">
                <h1 class="ui icon header title">
                    Nemo's Code
                </h1>
                <h2>under-the-tv code hosting service</h2>
            </div>
        </div>
    </div>
    <div class="ui stackable middle very relaxed page grid">
        <div class="eight wide center column">
            <h1 class="hero ui icon header">
                <i class="octicon octicon-rocket"></i>
                Run by friends
            </h1>
            <p class="large">
                This service is run by <a href="https://captnemo.in">Nemo</a>
            </p>
        </div>
        <div class="eight wide center column">
            <h1 class="hero ui icon header">
                <i class="octicon octicon-flame"></i> Uptime not guaranteed
            </h1>
            <p class="large">
                Run for fun and not profit.
            </p>
        </div>
    </div>
</div>
{{template "base/footer" .}}
